{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">Open Jobs</h1>
    <div class="row">
        {% if jobs %}
            {% for job in jobs %}
            <div class="col-md-4 mb-4">
                <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ job.title }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Location: {{ job.location }}</h6>
                    <p class="card-text">Salary: {{ job.currency }}{{ job.salary }}</p>
                    <a class="btn btn-primary" href="{{ url_for('job_details', id=job.id ) }}">Apply Now</a>
                </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <h2>Sorry, there are no jobs available at this time.</h2>
        {% endif %}

    </div>
</div>
{% endblock %}